.projects-section {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.projects-section__scroll-space {
  position: relative;
  width: 100%;
  height: calc(var(--project-count) * 100vh);
}

.projects-section__stage {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

/* =========================
   Fixed Frame
========================= */

.project-frame {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background: #0f0f0f;
}

.project-frame__surface {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background: #ececec;
  border-radius: 18px 18px 0 0;
}
