.project-detail-page {
  --project-detail-width: 1320px;
  --project-detail-gutter: 64px;

  --project-detail-nav-hero-top: 72vh;
  --project-detail-nav-content-top: calc(var(--header-height) + 20px);

  position: relative;

  min-height: 100vh;

  background: #000000;
  color: #ffffff;
}

.project-detail-scene {
  position: relative;
}
