.project-detail-content {
  width: min(
    var(--project-detail-width),
    calc(100% - (var(--project-detail-gutter) * 2))
  );

  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(0, 980px) 220px;
  align-items: start;
  gap: clamp(56px, 4vw, 72px);

  padding: 80px 0 180px;
}

.project-detail-content__sections {
  grid-column: 1;

  width: 100%;
  min-width: 0;
  max-width: 980px;
}

.project-detail-content__sidebar {
  grid-column: 2;
  align-self: start;

  position: sticky;
  top: calc(var(--header-height) + 56px);

  width: 220px;
}
