@import "../../abstracts/mixins";

@include tablet {
  .life-motion {
    transform: translateY(-4px);

    &__row {
      grid-auto-columns: 28px;
      gap: 8px;
      height: clamp(160px, 40vw, 200px);
    }

    &__item {
      grid-column: span var(--mobile-span);
    }

    &__title {
      font-size: 11px;
      margin-bottom: 3px;
    }

    &__image-wrap {
      height: calc(100% - 17px);
      border-radius: 6px;
    }
  }
}

@include mobile {
  .life-motion {
    transform: translateY(-8px);

    &__row {
      grid-auto-columns: 26px;
      gap: 7px;
      height: clamp(140px, 36vw, 170px);
    }

    &__item {
      grid-column: span var(--mobile-span);
    }

    &__title {
      font-size: 10px;
      margin-bottom: 3px;
    }

    &__image-wrap {
      height: calc(100% - 16px);
      border-radius: 6px;
    }
  }
}

@include small-mobile {
  .life-motion {
    transform: translateY(-10px);

    &__row {
      grid-auto-columns: 24px;
      gap: 6px;
      height: clamp(120px, 32vw, 145px);
    }

    &__item {
      grid-column: span var(--mobile-span);
    }

    &__title {
      font-size: 9px;
      margin-bottom: 3px;
    }

    &__image-wrap {
      height: calc(100% - 15px);
      border-radius: 6px;
    }
  }
}
