@media (max-width: 768px) {
  .interview {
    padding: 100px 16px 100px;
  }

  .interview__inner {
    width: calc(100% - 40px);
    margin: 0 auto;
  }

  .interview__title {
    margin-bottom: 10px;
  }

  .interview__title-svg {
    width: clamp(240px, 60vw, 420px);
  }
}
