.hero {
  &__visual {
    flex: 0 0 350px;
    display: flex;

    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(80px);
  }

  &__character {
    position: relative;
    width: 320px;
    height: 320px;
    overflow: hidden;
  }

  &__shadow {
    width: 160px;
    height: 28px;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.55),
      transparent
    );
    filter: blur(6px);
    border-radius: 50%;
  }
}
